// Colors by label
// $primary: #F01E28;
$primary: #D51F27;
$primary-light: #FFF;
$white: #FFF;
$secondary: #fff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$black: #000;
$black-1: #282828;
$dark: #343a40;
// $gray: #CDC8BE;
$gray: #7E7E7E;
$gray-2: #3C3C3C;
$gray-3: #282828;
$cream: #FFFAF5;

$breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1366px;

$font-family-base: "RobotoSerif";
$font-family-roboto: "Roboto";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$letter-spacing: -0.07rem;